@using TaskManager.Entities
@model Plan

<br />
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action= "@(Model == null ? "AddPlan" : "UpdatePlan")">
    <div class="row">
        
        <div class="col-md-3">
            <input asp-for="Id" class="form-control" type="hidden" />
            <input asp-for="Title" placeholder="Başlık" class="form-control" />
            @Html.ValidationMessage("Title")
        </div>

        <div class="col-md-9">
            <textarea asp-for="Desc" placeholder="Açıklama" class="form-control"></textarea>
            @Html.ValidationMessage("Desc")
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <select asp-for="Type" class="form-control" asp-items="@(new SelectList(ViewBag.PlanTypes))"></select>
            @Html.ValidationMessage("Type")
        </div>

        <div class="col-md-3">
            <input asp-for="EndTime" placeholder="Bitiş Tarihi" class="form-control" />
            @Html.ValidationMessage("EndTime")
        </div>

        <div class="col-md-3">
            <input asp-for="IsDone" type="checkbox" />&nbsp;<label style="color:teal">Yapıldı</label>
            @Html.ValidationMessage("IsDone")
        </div>
        @{
            if (Model == null)
            {
                <div class="col-md-3">
                    <button type="submit" class="form-control btn btn-success">Plan Ekle</button>
                </div>
            }
            else
            {
                <div class="col-md-3">
                    <button type="submit" class="form-control btn btn-success">Plan Düzenle</button>
                </div>
            }
        }



    </div>

</form>